In [2]:
import numpy as np
import pandas as pd
import sys
import util
import matplotlib.pyplot as plt

In [3]:






data = pd.read_excel('properties.xlsx')
data.head()

,property_id,sqft_hvac,sqft_yard,bedrooms,bathrooms,miles_to_school,price
0,1,3100.9,18863.6,4,4,0.2,610073.22
1,2,5190.4,29439.1,5,6,3.3,797597.60
2,3,4345.3,27996.1,5,6,2.7,727644.82
3,4,5537.0,34059.0,6,7,2.3,932818.32
4,5,2130.2,15937.6,3,5,4.7,579150.37